html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.span {
    border-style: solid;
    border-color: rgb(82, 135, 93);
    position: fixed;
    border-radius: 20px;
    padding: 8px;
}

.div0 {
    border-style: solid;
    height: 500px;
    width: 400px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(141, 164, 146);
}

.div1 {
    border-style: solid;
    height: 500px;
    width: 400px;
    display: inline-block;
    border-radius: 20px;
    background-color: rgb(182, 208, 187);
}

h1 {
    text-align: center;
    color: rgb(82, 135, 93);
}