body {
   justify-content: center; 
   align-items: center;
   display: grid;
}

span {
   position: absolute;
   justify-content: center;
   align-items: center;
   font-size: 50px;
}

.hidden {
    display: none;
}

.visibility {
    visibility: hidden;
}

h1 {
    text-align: center;
}

#form {
    border: black solid 5px;
    padding: 5px;
}

#memoryArea {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}